<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @flight.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @flight.date %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @flight.departure %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @flight.duration %>
</p>
<% if @flight.airplane %>
  <p>
    <strong>Airplane:</strong>
    <%= @flight.airplane.name %>
  </p>
  <p>
    <strong>cols:</strong>
    <%= @flight.airplane.cols %>
  </p>
  <p>
    <strong>rows:</strong>
    <%= @flight.airplane.rows %>
  </p>


<div class="planeDisplay">
  <% (@flight.airplane.rows.to_i + 1).times do |r| %>
    <div class="row">
      <% letters = ("A".."Z").to_a.unshift("")  %>
      <% cols = @flight.airplane.cols.to_i + 1 %>
      <% if r === 0 %>
         <% cols.times do |letter| %>
           <div class="col lineLetter"><%= letters[letter] %></div>
         <% end %>
      <% else %>
        <% cols.times do |c| %>
          <% if c > 0 %>
            <div class="col seat"><%#= "#{r}" + letters[c] %></div>
          <% else %>
            <div class="col lineNumber"><%= r %></div>
          <% end %>
          <% if cols === 7 && c === 3 %>
            <div class="col aisle">aisle</div>
          <% end %>
          <% if cols === 9 && (c === 3 || c === 5) %>
            <div class="col aisle">aisle</div>
          <% end %>
          <% if cols === 11 && (c === 3 || c === 7) %>
            <div class="col aisle">aisle</div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<% end %>


<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
