<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @flight.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @flight.date %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @flight.departure %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @flight.duration %>
</p>
<% if @flight.airplane %>
  <p>
    <strong>Airplane:</strong>
    <%= @flight.airplane.name %>
  </p>
  <p>
    <strong>cols:</strong>
    <%= @flight.airplane.cols %>
  </p>
  <p>
    <strong>rows:</strong>
    <%= @flight.airplane.rows %>
  </p>


<div class="planeDisplay">
  <% @flight.airplane.rows.to_i.times do |r| %>
    <div class="row">
      <% letters = ("A".."Z").to_a  %>
      <% @flight.airplane.cols.to_i.times do |c| %>
        <div class="col seat"><%= letters[c]+r %></div>
      <% end %>
    </div>
  <% end %>
</div>

<% end %>


<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
