<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers|Lobster" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

  <svg width="90vw" height="80vh" viewBox="0 0 1183 741" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>plane</title>

                    <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="871.5 136.75 867.679396 138.75861 868.409066 134.504305 865.318133 131.49139 869.589698 130.870695 871.5 127 873.410302 130.870695 877.681867 131.49139 874.590934 134.504305 875.320604 138.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="749.5 190.75 745.679396 192.75861 746.409066 188.504305 743.318133 185.49139 747.589698 184.870695 749.5 181 751.410302 184.870695 755.681867 185.49139 752.590934 188.504305 753.320604 192.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="551.5 130.75 547.679396 132.75861 548.409066 128.504305 545.318133 125.49139 549.589698 124.870695 551.5 121 553.410302 124.870695 557.681867 125.49139 554.590934 128.504305 555.320604 132.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="427.5 168.75 423.679396 170.75861 424.409066 166.504305 421.318133 163.49139 425.589698 162.870695 427.5 159 429.410302 162.870695 433.681867 163.49139 430.590934 166.504305 431.320604 170.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="482.5 281.75 478.679396 283.75861 479.409066 279.504305 476.318133 276.49139 480.589698 275.870695 482.5 272 484.410302 275.870695 488.681867 276.49139 485.590934 279.504305 486.320604 283.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="629.5 311.75 625.679396 313.75861 626.409066 309.504305 623.318133 306.49139 627.589698 305.870695 629.5 302 631.410302 305.870695 635.681867 306.49139 632.590934 309.504305 633.320604 313.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="604.5 483.75 600.679396 485.75861 601.409066 481.504305 598.318133 478.49139 602.589698 477.870695 604.5 474 606.410302 477.870695 610.681867 478.49139 607.590934 481.504305 608.320604 485.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="187.5 530.75 183.679396 532.75861 184.409066 528.504305 181.318133 525.49139 185.589698 524.870695 187.5 521 189.410302 524.870695 193.681867 525.49139 190.590934 528.504305 191.320604 532.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="518.5 629.75 514.679396 631.75861 515.409066 627.504305 512.318133 624.49139 516.589698 623.870695 518.5 620 520.410302 623.870695 524.681867 624.49139 521.590934 627.504305 522.320604 631.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="975.5 663.75 971.679396 665.75861 972.409066 661.504305 969.318133 658.49139 973.589698 657.870695 975.5 654 977.410302 657.870695 981.681867 658.49139 978.590934 661.504305 979.320604 665.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="1088.5 589.75 1084.6794 591.75861 1085.40907 587.504305 1082.31813 584.49139 1086.5897 583.870695 1088.5 580 1090.4103 583.870695 1094.68187 584.49139 1091.59093 587.504305 1092.3206 591.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="858.5 583.75 854.679396 585.75861 855.409066 581.504305 852.318133 578.49139 856.589698 577.870695 858.5 574 860.410302 577.870695 864.681867 578.49139 861.590934 581.504305 862.320604 585.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="1028.5 435.75 1024.6794 437.75861 1025.40907 433.504305 1022.31813 430.49139 1026.5897 429.870695 1028.5 426 1030.4103 429.870695 1034.68187 430.49139 1031.59093 433.504305 1032.3206 437.75861 "></polygon>
              <polygon id="Star-1" fill="#FFFFFF" sketch:type="MSShapeGroup" points="929.5 350.75 925.679396 352.75861 926.409066 348.504305 923.318133 345.49139 927.589698 344.870695 929.5 341 931.410302 344.870695 935.681867 345.49139 932.590934 348.504305 933.320604 352.75861 "></polygon>

      </g>
  </svg>



  <nav>
    <% unless @current_user.present?  %>
    <%= link_to "Login", login_path, :class => "loginNav" %>
    <%= link_to "Sign Up", new_user_path, :class => "signUpNav" %>
    <% else %>
    <a href="#" class="brand-logo center"><h4>Burning Friendships</h4></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
    <ul class="hide-on-med-and-down">
    <%= link_to "Add Airplane", new_airplane_path, :class => "addPlaneNav" %>
    <%= link_to "Add Flight", new_flight_path(), :class => "addFlightNav" %>
    <%= link_to "Search", app_path, :class => "searchNav" %>
    <%= link_to "Logout", login_path, :method => :delete, :class => "logoutNav" %>
    <%= link_to "Edit Profile", edit_user_path, :class => "editNav" %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
    <%= link_to "Add Airplane", new_airplane_path, :class => "addPlaneNav" %>
    <%= link_to "Add Flight", new_flight_path(), :class => "addFlightNav" %>
    <%= link_to "Edit Profile", edit_user_path, :class => "editNav" %>
    <%= link_to "Logout #{@current_user.email}", login_path, :method => :delete, :class => "logoutNav" %>
    </ul>

    <% end %>

  </nav>
  <% if flash[:error] %>
  <h5>
    <%= flash[:error] %>
  </h5>
  <% end  %>

<div class="container">
<%= yield %>
</div>

</body>


</html>
